input {
  border-radius: 16px;
  padding: 10px;
  border: 1px solid #dee4f0;
  outline: none;
  transition: border-color 0.3s ease;
}

label,
input {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #4f4f55;
}

h2 {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
input[type="text"],
input[type="number"],
input[type="date"] {
  width: 275px;
  height: 43px;
  border-width: 1px;
}
input::placeholder,
textarea::placeholder {
  font-size: 16px;
  color: #dcdcdc;
}

.salary-range input {
  display: flex;

  width: 100px;
  margin-top: 5px;
}

input[type="text"].long-input,
input[type="date"].long-input {
  width: 420px;
}
.zag1 {
  padding-top: 48px;
  padding-bottom: 56px;
  font-family: "Inter";
  color: #4c73e3;
  font-size: 36px;
}

.req {
  color: #bf0003;
}

.vacancy-form {
  overflow: hidden;
  padding-left: 150px;
  padding-right: 150px;
}

.vacancy-form-body {
  background-color: white;
  width: 1300px;

  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.company-row {
  padding: 0px 60px;
  padding-top: 60px;
  display: flex;
  align-items: row;
  gap: 40px;
  flex-wrap: wrap;
}
.company-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.date-row {
  padding: 0px 60px;
  padding-top: 40px;
  display: flex;
  align-items: row;
  gap: 40px;
  flex-wrap: wrap;
}

.pol-part {
  padding: 40px 60px;
}
.radio-group-sex {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.zarp-part {
  padding: 0px 60px;
}

.salary-options {
  padding-top: 8px;
  display: flex;
  gap: 20px;
}
.otdo {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #4f4f55;
}
.salary-range {
  align-items: center;
  padding: 0px 60px;
  display: flex;
  gap: 16px;
}
.salary-renge-one {
  padding-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.salary-range input {
  width: 100px;
}

.address-inputs-row {
  padding: 40px 60px;

  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.address-input-group label {
  display: flex;
  padding-bottom: 8px;
}
.schedule-group label {
  padding-bottom: 8px;
}
.address-input-group input {
}

.exp-inputs-row {
  padding: 0px 60px;
  display: flex;
  padding-bottom: 60px;
  gap: 40px;
  flex-wrap: wrap;
}

.exp-input-group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.experience-group,
.schedule-group {
  display: flex;
  flex-direction: column;
}

.experience-group label {
  padding-bottom: 7px;
}
.type-iput-colum {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.type-radio-group {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Стили радио*/

.radio-group-sex input[type="radio"] {
  display: none;
}

.radio-group-sex label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.radio-group-sex label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  background-image: url("./icons/Radiobutton0.png");
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.2s ease;
}

.radio-group-sex label:hover::before {
  width: 20px;
  height: 20px;
  border: 1px solid #4c73e3;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 0 3px 1px rgb(53, 165, 0, 0.5);
}
.radio-group {
  gap: 10px;
}

.radio-group-sex input[type="radio"]:checked + label::before {
  background-image: url("./icons/Radiobutton.png");
}

.salary-options input[type="radio"] {
  display: none;
}

.salary-options label {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.salary-options label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  background-image: url("./icons/Radiobutton0.png");
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.2s ease;
}

.salary-options input[type="radio"]:checked + label::before {
  background-image: url("./icons/Radiobutton.png");
}

.salary-options label:hover::before {
  width: 20px;
  height: 20px;
  border: 1px solid #4c73e3;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 0 3px 1px rgb(53, 165, 0, 0.5);
}

.type-radio-group input[type="radio"] {
  display: none;
}

.type-radio-group label {
  display: flex;
  align-items: center;
  gap: 0.5px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.type-radio-group label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  background-image: url("./icons/Radiobutton0.png");
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.2s ease;
}

.type-radio-group label:hover::before {
  width: 20px;
  height: 20px;
  border: 1px solid #4c73e3;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 0 3px 1px rgb(53, 165, 0, 0.5);
}

/* Если radio выбрано */
.type-radio-group input[type="radio"]:checked + label::before {
  background-image: url("./icons/Radiobutton.png");
}

.date-input-wrapper {
  position: relative;
  padding-top: 8px;
}

.calendar-icon {
  position: absolute;
  top: 55%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  width: 22px;
  height: 21px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none; /* Отключаем стандартный календарик */
}

/* Стили для кнопок */

.form-actions button {
  width: 250px;
  height: 50px;
  padding: 10px 20px;
  background-color: #4c73e3;
  color: white;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  cursor: pointer;
}

.form-actions {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.form-actions button[type="button"] {
  background-color: transparent;
  color: #4c73e3;
  border: 1px solid #4c73e3;
}
.form-actions button:hover {
  opacity: 0.7;
}

/* Стили для select */

.select-wrapper {
  position: relative;
  display: inline-block;
  width: 275px;
}

/* Иконка */
.select-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 16px;
  height: 16px;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.3s ease;
  pointer-events: none;
}
.custom-select:focus .select-icon {
  transform: translateY(-50%) rotate(180deg);
}
.custom-select.open .select-icon {
  transform: translateY(-50%) rotate(180deg);
}

select {
  width: 297px !important;
  height: 38px;
  padding: 8px;
  border-radius: 16px;
  border: 1px solid #dee4f0;
  color: #4f4f55;
  background-color: #fff;
}

input:focus,
select:focus {
  border-color: #4c73e3;
  outline: none;
  border-width: 1px;
}

.select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 1;
}

/* Стиль для select */
.custom-select {
  padding-right: 30px;
  appearance: none;
  border: 1px solid #dee4f0;
  border-radius: 16px;
  font-size: 16px;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

/* Модификация для элементов в случае ошибок */
.error {
  color: #bf0003;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  display: block;
  margin-top: 1px;
  min-height: 16px;
}

input.error,
select.error {
  border-color: #bf0003 !important; /* Красная граница */
  border-width: 1px;
}

input[type="date"]::placeholder {
  font-size: 16px;
  color: #dcdcdc !important;
}

input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
  font-size: 16px;
  color: #dcdcdc;
}

/* Верно заполненная форма */
.custom-input.success {
  box-shadow: 0 0 3px 1px rgb(53, 165, 0, 0.7);
}
