.fon {
  background-color: #f3f7f8;
  padding: 20px;
}

.zag {
  padding-top: 48px;
  padding-bottom: 56px;
  padding-left: 150px;
  padding-right: 150px;
  font-family: "Inter";
  color: #4c73e3;
  font-size: 36px;
}

.vacancy-list {
  padding-right: 150px;
  padding-left: 150px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.vacancy-card {
  padding: 16px 28px;
  max-width: 1300px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.vacancy-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vacancy-date {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  opacity: 60%;
  color: #4f4f55;
}

.button-row {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.edit-button {
  padding: 0;

  height: max-content;
  background: #ffffff;
  color: white;
  border: none;

  border-radius: 5px;
  cursor: pointer;
}

.edit-button-icon {
  width: 24px;
  height: 24px;
}

.title-column {
  display: flex;
  flex-direction: column;
  gap: 12.5px;
}
.vacancy-title {
  font-family: "Inter";
  color: #4f4f55;
  font-size: 25px;
  font-weight: 700;
}

.vacancy-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vacancy-address {
  color: #4f4f55;
  height: 20px;
  font-family: "PFDinTextCondPro";
  font-weight: 400;
  opacity: 80%;

  font-size: 16px;
}
.subtract-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.vacancy-footer-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.vacancy-salary {
  font-family: "PFDinTextCondPro";
  font-weight: 700;
  color: #4c73e3;
  font-size: 20px;
}
.vacancy-salary-hand {
  color: #4f4f55;
  font-family: "PFDinTextCondPro";
  font-weight: 400;
  font-size: 14px;
}
.vacancy-experience {
  font-family: "PFDinTextCondPro";
  font-weight: 400;
  color: #4f4f55;
  font-size: 14px;
}
.experience-gate {
  font-family: "PFDinTextCondPro";
  font-weight: 700;
  color: #4c73e3;
  font-size: 16px;
}

.vector-icon {
  width: 19px;
  height: 19px;
  vertical-align: middle;
}
.vacancy-metro {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #4f4f55;
  font-family: "PFDinTextCondPro";
  font-weight: 400;
  font-size: 16px;
  opacity: 80%;
  vertical-align: middle;
}
